.reg-container
  = render 'users/user_header'
  .reg-container__main
    .reg-container__main--content
      %h2.reg-container__main--content-title お届け先住所入力
      =form_for("") do |f|
        .reg-container__main--content-title--input
          .input-groups
            .input-group
              %label お名前
              %span.red-box 必須
              =f.text_field :familyname, placeholder: "例）メルカリ", class: "input-def"
              =f.text_field :firstname, placeholder: "例）太郎", class: "input-def"
            .input-group
              %label お名前カナ
              %span.red-box 必須
              =f.text_field :familyname, placeholder: "例）メルカリ", class: "input-def"
              =f.text_field :firstname, placeholder: "例）タロウ", class: "input-def"
            .input-group
              %label 郵便番号
              %span.red-box 必須
              =f.text_field :adress, placeholder: "例）123-4567", class: "input-def"
            .input-group
              %label 都道府県
              %span.red-box 必須
              =f.text_field :adress, placeholder: "大阪府", class: "input-def"
            .input-group
              %label 市区町村
              %span.red-box 必須
              =f.text_field :adress, placeholder: "大阪市中央区難波", class: "input-def"
            .input-group
              %label 番地
              %span.red-box 必須
              =f.text_field :adress, placeholder: "5丁目1−60", class: "input-def"
            .input-group
              %label 建物名
              %span.gray-box 任意
              =f.text_field :adress, placeholder: "なんばスカイオ15階", class: "input-def"
            .input-group
              %label 電話
              %span.gray-box 任意
              =f.text_field :tell, placeholder: "000-111-2222", class: "input-def"
        .reg-container__main--content-title--bottom
          .input-group
            =link_to "次へ進む", sign_up_forth_users_path, class: "link_button"
  .reg-container__footer
    %nav
      %ul.clearfix
        %li
          =link_to 'https://www.mercari.com/jp/privacy/' do
            %p プライバシーポリシー
        %li
          =link_to 'https://www.mercari.com/jp/tos/' do
            %p メルカリ利用規約
        %li
          =link_to 'https://www.mercari.com/jp/tokutei/' do
            %p 特定商取引に関する表記
    =link_to "https://www.mercari.com/jp/", {class: "footer-logo"} do
      =image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2098311808", {alt: "mercari", height: "65", width: "80"}
    %p
      %small ©2019 Mercari
