.reg-container
  = render 'users/user_header'
  .reg-container__main
    .reg-container__main--content
      %h2.reg-container__main--content-title 電話番号の確認
      =form_for("") do |f|
        .reg-container__main--content-title--input
          .input-groups
            .input-group
              %label 携帯電話の番号
              =f.text_field :phone, placeholder: "携帯電話の番号を入力", class: "input-def"
              %p.input-def-message 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
        .reg-container__main--content-title--bottom
          .input-group
            =link_to "SNSを送信する", sign_up_third_users_path, class: "link_button"
            ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
          .input-group.right-info
            %p.info-message--right
              = link_to "https://www.mercari.com/jp/privacy/" do
                電話番号の確認が必要な理由
                %i.fas.fa-chevron-right
  .reg-container__footer
    %nav
      %ul.clearfix
        %li
          =link_to 'https://www.mercari.com/jp/privacy/' do
            %p プライバシーポリシー
        %li
          =link_to 'https://www.mercari.com/jp/tos/' do
            %p メルカリ利用規約
        %li
          =link_to 'https://www.mercari.com/jp/tokutei/' do
            %p 特定商取引に関する表記
    =link_to root_path, class: "footer-logo" do
      =image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2098311808", {alt: "mercari", height: "65", width: "80"}
    %p
      %small ©2019 Mercari
