.login-container
  .login-header
    %h1
      %a{href:"https://www.mercari.com/jp/"}
        %img{src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2098311808"}
  .login-main
    .login-panel
      .create-account
        %p アカウントをお持ちでない方はこちら
        %a{href: "https://www.mercari.com/jp/signup/?after_save_callback=https%3A%2F%2Fwww.mercari.com%2Fjp%2F"} 新規会員登録
      .sns-login
        %button#facebook.btn-default.btn-sns
          %i.fab.fa-facebook-square
          Facebookでログイン
        %button#google.btn-default.btn-sns
          Googleでログイン
      =form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| 
        .login-form
          .form-group
            =f.email_field :email, placeholder: "メールアドレス", class: "input-box"
          .form-group
            =f.password_field :password, placeholder: "パスワード", class: "input-box"
          .form-group
            .recaptcha{"data-sitekey": "6Ldrya8UAAAAAPT_OeZNFRcDngNJFCYuHZNKlVTE"}
          %button.login-submit.btn-default ログイン
          = f.submit class: "submit-btn"
          %a{href: "https://www.mercari.com/jp/password/reset/start/"}パスワードをお忘れの方
  .login-footer
    %nav
      %ul.clearfix
        %li
          %a{href: "https://www.mercari.com/jp/privacy/"}プライバシーポリシー
        %li
          %a{href: "https://www.mercari.com/jp/tos/"}メルカリ利用規約
        %li
          %a{href: "https://www.mercari.com/jp/tokutei/"}特定商取引に関する表記
    %a.single-footer{href: "https://www.mercari.com/jp/"}
      %img{alt: "mercari", height: "65", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2098311808", :width => "80"}/
    %p
      %small © 2019 Mercari
