.login-container
  .login-container__header
    %h1
      =link_to "https://www.mercari.com/jp/" do
        =image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2098311808"
  .login-container__main
    .login-container__main--login-panel
      .login-container__main--login-panel--create-account
        %p アカウントをお持ちでない方はこちら
        =link_to "https://www.mercari.com/jp/signup/?after_save_callback=https%3A%2F%2Fwww.mercari.com%2Fjp%2F" do
          %p.create-account__title 新規会員登録
      .login-container__main--login-panel--sns-login
        %button#facebook.btn-def.btn-sns
          %i.fab.fa-facebook-square 
          Facebookでログイン
        %button#google.btn-def.btn-sns  
          Googleでログイン
      =form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| 
        .login-container__main--login-panel--form
          .login-container__main--login-panel--form--input-email
            =f.email_field :email, placeholder: "メールアドレス", class: "input-box__text input-def"
          .login-container__main--login-panel--form--input-pass
            =f.password_field :password, placeholder: "パスワード", class: "input-box__text input-def"
          .login-container__main--login-panel--form--input-box
            .recaptcha{"data-sitekey": "6Ldrya8UAAAAAPT_OeZNFRcDngNJFCYuHZNKlVTE"}
              %iframe{src: "https://www.google.com/recaptcha/api2/anchor?ar=1&k=6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc&co=aHR0cHM6Ly93d3cubWVyY2FyaS5jb206NDQz&hl=ja&v=v1563777128698&size=normal&cb=fp11vndmy16a"}
          %button.submit-btn.btn-def ログイン
          %input{type: "hidden", value: "https://www.mercari.com/jp/"}
          =link_to "https://www.mercari.com/jp/password/reset/start/" do
            %p パスワードをお忘れの方
  .login-container__footer
    %nav
      %ul.clearfix
        %li
          =link_to 'https://www.mercari.com/jp/privacy/' do
            %p プライバシーポリシー
        %li
          =link_to 'https://www.mercari.com/jp/tos/' do
            %p メルカリ利用規約
        %li
          =link_to 'https://www.mercari.com/jp/tokutei/' do
            %p 特定商取引に関する表記
    =link_to "https://www.mercari.com/jp/", {class: "footer-logo"} do
      =image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2098311808", {alt: "mercari", height: "65", width: "80"}
    %p
      %small © 2019 Mercari
