-# %section.pickup-container
-#   %h2.pickup-head
-#     ピックアップカテゴリー
-#   %section.items-box-container
-#     %h3.text-center
-#       %a{:href => "#"} レディース新着アイテム
-#     .items-box-content
-#       %section.items-box
-#         %a{:href=> "#"}
-#           %figure.items-box-photo
-#             .imag
-#           .items-box-body
-#             %h3.items-box-name
-#               test
-#             .items-box-num
-#               .items-box-price
-#                 ¥2000
-#               .like
-#                 ♡１
