.pay-content
  .pay-content__main
    %h2.pay-content__main--head
      ご購入ありがとうございました！！
      %i.fas.fa-truck-moving
    .pay-content__main--image
      =image_tag "http://www.mocchiblog.com/wp-content/images/2013/07/mercari_mark-204x300.png", class:"mercari"
    .pay-content__main--text
      %i.far.fa-clock
      発送をお待ちください


