.pay-content
  .pay-content__main
    %h2.pay-content__main--head
      ご購入ありがとうございました！！
      %i.fas.fa-truck-moving
    .pay-content__main--text
      %i.far.fa-clock
      発送をお待ちください
    .pay-content__main--info
      .photo
        = image_tag @image.image.url,class:"photo__buy"
      .inner
        .inner__name
          = @product.name
        .inner__price
          = "¥#{@product.price}"
    .pay-content__main--image
      =link_to root_path do
        =image_tag "http://www.mocchiblog.com/wp-content/images/2013/07/mercari_mark-204x300.png",size: "200x200", class:"mercari"
