@import "devise/style";

.reg-container{
  &__header{
    height: 128px;
    text-align: center;
    & h1{
      margin: 40px 0 0;
      display: inline-block;
      height: 49px;
      & a{
        width: 185px;
        height: 49px;
        line-height: 49px;
        display: inline-block;
        margin: 0 8px 0 0;
        & img{
          width: 185px;
          height: 49px;
        }
      }
    }
    .sign-up__bar{
      padding: 40px 0 0 44px;
      border: 0;
      display: inline-block;
      vertical-align: top;
      &--box{
        list-style: none;
        margin: 0;
        .active-bar{
          @include active-bar;
          margin: 0 40px 0 0;
          min-width: 60px;
          height: 32px;
          position: relative;
          z-index: 1;
          display: inline-block;
          font-size: 12px;
          &__status{
            @include status-def;
            background-color: #ea352d;
            .active-bar__status:after{
              left: 50%;
            }
          }
        }
        .def-bar{
          margin: 0 40px 0 0;
          min-width: 60px;
          height: 32px;
          position: relative;
          z-index: 1;
          display: inline-block;
          font-size: 12px;
          color: #888;
          &__status{
            @include status-def;
            &:before{
              right: 50%;
            }
          }
        }
      }
    }
  }
  &__main{
    background-color: white;
    height: 100%;
    width: 700px;
    margin: 0px auto;
    
    &--content{
      color: #333;
      &-title{
        font-size: 22px;
        padding: 32px;
        font-weight: bold;
        text-align: center;
        line-height: 1.5;
        border-bottom: 1px solid #f5f5f5;
        &--input{
          .input-groups{
            width: 340px;
            height: 100%;
            margin: 0 auto;
            .input-group{
              margin-top: 32px;
              h3{
                display: block;
                font-size: 16px;
                margin-block-start: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                font-weight: bold;
              }
              p{
                font-size: 14px;
              }
              label{
                font-weight: 600;
                font-size: 14px;
                display: inline-block;
              }
              .red-box{
                background: #ea352d;
                color: white;
                margin: 0 0 0 8px;
                padding: 2px 4px;
                border-radius: 2px;
                font-size: 12px;
                vertical-align: top;
              }
              .input-def{
                height: 48px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: #fff;
                line-height: 1.5;
                font-size: 16px;
                width: 100%;
              }
              .label-titile{
                label{
                  line-height: 30px;
                }
                .red-box{

                }
              }
              .input-def.half-form{
                width: calc(50% - 10px);
                margin:2px;
              }
              .date-select{
                i.fas.fa-chevron-down{

                }
                .select-def{

                }
              }
            }
            p.onfo-message{
              color: #888;
              font-size: 14px;
            }
          }
        }
        &--bottom{
          margin: 0 auto;
          width: 340px;
          padding-bottom: 64px;
          .input-group{
            margin-top: 32px;
            font-size: 14px;
            .recaptcha{
              iframe{
                width: 304px;
                height: 78px;
              }
            }
            p.info-messase{
              display: inline-block;
              text-align: center;
            }
            a{
              color: #0099e8;
            }
            button.submit-btn.btn-def{
              border: 1px solid #ea352d;
              background: #ea352d;
              width: 100%;
              line-height: 48px;
              color: #fff;
            }
            input{
            }
          }
          .input-group.right-info{
            p.info-message--right{
              text-align: right;
              i.fas.fa-chevron-right{
              }
            }
          }
        }
      }
    }
  }
        // & li:last-child{
        //   margin: 0;
        // }
      

  &__footer{
    width: 456px;
    height: 220px;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
    nav{
      ul{
        li{
          display: inline-block;
          font-size: 12px;
          padding: 0;
        }
        a{
          display: block;
          color: #333;
        }
      }
    }
    .footer-logo{
      width: 80px;
      height: 65px;
      margin: 40px auto 0;
      display: block;
    }
    p{
      margin: 8px 0 0;
      small{
        font-size: 13px;
      }
    }
  }
}