

body {
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
}

.mypages-side-nav{
  margin:0 40px 40px 40px;
  position:left;
  width: 280px;
}



.mypages-side-list li {
  border-top: 1px solid #eee;
  min-height: 48px;
}



.mypages-side-list-item {
  position: relative;
  display: block;
  min-height: 10px;
  padding: 16px;
  background: #fff;
  font-size: 14px;
  color: #333;
}

.fas.fa-angle-right {
  position: absolute;
  top: 50%;
  right: 16px;
  color: #ccc;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all ease-out .2s;
  transition: all ease-out .2s;

}

h3.mypage-nav-head{
  font-weight:bold;
  font-size: 16px;
}


.mypage-nav-head {
    margin: 40px 0 0;
}

.mypage-nav-head+.mypage-nav-list {
  margin: 8px 0 0;
}

.fas.fa-caret-right {
  position: absolute;
  top: 50%;
  right: 16px;
  color: #ccc;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all ease-out .2s;
  transition: all ease-out .2s;
}

.mypage-nav-list li:first-child {
  border: 0;
}




