@mixin font($color:#333, $size:22px,$weight:400){
  color: $color;
  font-size: $size;
  font-weight: $weight;
}


.search-main {
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  position: relative;
  margin: 40px auto 0;
  width: 1100px;
  padding-bottom: 40px;
  display: block;
  &__content{
    float: right;
    width: 700px;
    &--box {
      background-repeat: no-repeat;
      margin: 0;
      padding: 0;
      .search-result {
        margin: 0 0 16px;
        @include font($weight:600);
      }
      .search-count {
        margin: 16px 0;
        font-size: 12px;
        color: #888;
      }
      .search-item {
        width: auto;
        margin: 0 auto;
        &__box{
          margin: 0 20px 20px 0;
          width: 160px;
          position: relative;
          float: left;
          background: #fff;
          &--show {
            height: 240px;
            display: block;
            text-decoration: none;
            .item-photo {
              width: 160px;
              height: 160px;
              overflow: hidden;
              position: relative;
              &__img {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                vertical-align: middle;
              }
            }
            .item-text {
              height: 80px;
              padding: 8px 12px;
              &__name {
                overflow: hidden;
                position: relative;
                height: 3em;
                line-height: 1.5;
                word-break: break-word;
                white-space: normal;
                @include font($size:14px);
              }
              &__num {
                margin-top: 2px;
                display: flex;
                align-items: center;
                &--price {
                  @include font(#333,17px, 600);
                }
                &--icon {
                  @include font ($size:16px);
                  .far.fa-heart{
                    display: inline-block;
                    font-style: normal;
                    line-height: 1;
                    @include font ($color:#ccc,$size:16px);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &__side {
    float: left;
    width: 280px;
    margin: 0 20px 0 40px;
    &--form {
      font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
      position: relative;
      margin: 0;
      padding: 0;
      .search-sort {
        opacity: 1;
        position: static;
        top: 0;
        left: 0;
        z-index: 100;
        width: auto;
        margin: 0 auto;
        &__form {
          margin: 0;
          &--wrap {
            background: #fff;
            text-align: left;
            margin: 0;
            position: relative;
            .font-down {
              position: absolute;
              right: 23px;
              top: 30%;
              z-index: 1;
              line-height: 1;
              color: #888;
              font-size:25px;
            }
            &--select {
              @include font($size:16px,$weight:normal);
              background: #fff;
              height: 48px;
              width: 89%;
              padding: 0 16px;
              border: 1px solid #ccc;
              border-radius: 4px;
              line-height: 1.5;
              cursor: pointer;
            }
          }
        }
      }
      .search-box {
        position: static;
        display: block;
        padding: 16px;
        margin: 40px 0 0;
        background-color: #fff;
        &__head {
          @include font ($size:16px, $weight:normal);
          margin-bottom: 24px;
        }
        .form-group {
          margin: 40px 0 0;
          &__box {
            @include font($size:inherit, $weight:600);
            .font-icon{
              position: relative;
              top: -1px;
              margin: 0 4px 0 0;
              vertical-align: middle;
              line-height: 1;
              color: #888;
              font-size: 16px;
            }
            &--name {
              vertical-align: middle;
              @include font($size:14px,$weight:600);
            }
          }
          &__keyword {
            width: 86%;
            margin: 8px 0 0;
            height: 28px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
          &__wrap {
            margin: 8px 0 0;
            position: relative;
            background: #fff;
            .fas.fa-angle-down {
              position: absolute;
              right: 16px;
              top: 15px;
              z-index: 2;
              color: #888;
              font-size: 20px;
              margin: 0 4px 0 0;
              vertical-align: middle;
            }
            &--def {
              @include font($size:16px,$weight:normal);
              position: relative;
              z-index: 2;
              height: 48px;
              width: 84%;
              padding: 0 16px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: 0;
              line-height: 1.5;
              cursor: pointer;
            }
            &--price {
              width: 32%;
              margin: 8px 0 0;
              height: 28px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.5;
              font-size: 16px;
            }
          }
          &__check {
            .checkbox {
              margin: 16px 0 0;
              display: inline-block;
              width: 48%;
              vertical-align: middle;
              word-break: break-word;
              position: relative;
              &__lavel {
                vertical-align: middle;
                cursor: pointer;
                @include font ($size:14px);
              }
            }
          }
        }
        .form-btn {
          height: 90px;
          padding: 40px 0 0;
          &__gray {
            float: left;
            width: 45%;
            background: #aaa;
            border: 1px solid #aaa;
            cursor: pointer;
            text-align: center;
            line-height: 48px;
            @include font($size:14px,$color:#fff);
          }
          &__red {
            float: right;
            width: 45%;
            background: #ea352d;
            border: 1px solid #ea352d;
            line-height: 48px;
            text-align: center;
            cursor: pointer;
            @include font($size:14px,$color:#fff);
          }
        }
      }
    }
  }
}
