.pay-content {
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  background-color: #f5f5f5;
  color: #333;
  &__main {
    height: 100vh;
    display: block;
    width: 700px;
    margin: 0 auto;
    text-align: center;
    &--head {
      line-height: 100px;
      height: 100px;
      font-size: 25px;
      .far.fa-clock{
        font-size: 25px;
      }
    }
    &--text {
      height: 100px;
      font-size: 20px;
      color: red;
    }
    &--info {
      height: 300px;
      position: relative;
      .photo {
        position: absolute;
        top:0px;
        left:100px;
      }
      .name {
        font-size: 20px;
        position: absolute;
        top: 10px;
        right: 270px;
      }
      .price {
        font-size: 20px;
        position: absolute;
        top: 50px;
        right: 250px;
      }

    }
    &--image {
      bottom: 0;
    }
  }
}