@import "style";

*{
  -webkit-box-sizing: border-box;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  @include main-font;
}

html{
  height: 100%;
}

body{
  background-color: $gray;
}

// ＊＊＊＊＊＊＊＊＊＊ ログイン ＊＊＊＊＊＊＊＊＊＊

.login-container{
  padding: 0 0 220px;
  &__header{
    height: 128px;
    text-align: center;
    & h1{
      margin: 40px 0 0;
      display: inline-block;
      height: 49px;
      & a{
        width: 185px;
        height: 49px;
        line-height: 49px;
        display: inline-block;
        margin: 0 8px 0 0;
        & img{
          width: 185px;
          height: 49px;
        }
      }
    }
  }
  &__main{
    display: block;
    &--login-panel{
      max-width: none;
      width: 456px;
      margin: 0 auto;
      background-color: #ffffff;
      &--create-account{
        padding-top: 40px;
        padding-right: 64px;
        padding-bottom:40px;
        padding-left: 64px;
        text-align: center;
        & p{
          font-size: 14px;
          height: 14px;
          line-height: 14px;
          color: rgb(51, 51, 51);
        }
        & a{
          .create-account__title{
            height: 40px;
            line-height: 40px;
            font-size: 14px;
            display: block;
            margin: 8px 0 0;
            border: 1px solid #0099e8;
            background: #0099e8;
            color: $lit-gray;
            text-decoration: none;
          }
        }
      }
      &--sns-login{
        height: 116px;
        padding-top: 32px;
        padding-right: 64px;
        padding-bottom:32px;
        padding-left: 64px;
        border-top: 1px solid #eee;
        #facebook{
          @include btn-def;
          @include facebook;
          position: relative;
          a {
            color: white;
          }
          .fab.fa-facebook-square {
            @include facebk-icon;
          }
        }
        #google{
          @include google;
          @include btn-def;
          border: #979797 solid 1px;
          a {
            color: black;
          }
        }
      }
    }
    .login-container__main--login-panel--form{
      padding: 24px 64px 32px;
      &--input-email{
        margin: 0;
        .input-box__text{
          @include input-def;
        }
      }
      &--input-pass{
        margin: 24px 0 0;
        .input-box__text{
          @include input-def;
        }
      }
      &--input-box{
        margin: 24px 0 0;
        .recaptcha{
          width: 300px;
          iframe{
            vertical-align: middle;
            height: 77px;
            border-width: 0;
            border: 0.5px solid #d3d3d3;
          }  
        }
      }
      .submit-btn{
        margin: 24px 0 0;
        background: #ea352d;
        border: 1px solid #ea352d;
        color: $lit-gray;
        @include btn-def;
      }
      a{
        color: #0099e8;
        text-decoration: none;
        display: block;
        margin: 40px 0 0;
      }
    }
  }
  &__footer{
    width: 456px;
    height: 220px;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
    ul{
      li{
        display: inline-block;
        font-size: 12px;
        padding: 0;
      }
      a{
        display: block;
        color: #333;
      }
    }
    .footer-logo{
      width: 80px;
      height: 65px;
      margin: 40px auto 0;
      display: block;
    }
    p{
      margin: 8px 0 0;
      small{
        font-size: 13px;
      }
    }
  }
}

// ＊＊＊＊＊＊＊＊＊＊ 新規登録分岐画面 ＊＊＊＊＊＊＊＊＊＊

.container {
  padding: 0 0 220px;
  &__header{
    height: 128px;
    text-align: center;
    & h1{
      margin: 40px 0 0;
      display: inline-block;
      height: 49px;
      & a{
        width: 185px;
        height: 49px;
        line-height: 49px;
        display: inline-block;
        margin: 0 8px 0 0;
        & img{
          width: 185px;
          height: 49px;
        }
      }
    }
    }
  .container__main--section{
    width: 700px;
    margin: auto;
    background-color: $lit-gray;
    &--title{
      font-weight: bold;
      font-size: 22px;
      padding: 32px;
      line-height: 1.5;
      text-align: center;
    }
    .select-form{
      padding: 40px 40px 64px;
      border-top: 1px solid $gray;
      &__content{
        max-width: 343px;
        margin: 0 auto;
        padding: 0;
        .mail-btn{
          @include btn-def;
          height: 48px;
          background-color: #ea352d;
          color: $lit-gray;
          position: relative;
          border-radius: 4px;
          .far.fa-envelope{
            position: absolute;
            top: 30%;
            left: 16px;
            font-size: 20px;
            color: $lit-gray
          }
          p{
            color: $lit-gray
          }
        }
        #facebook{
          @include btn-def;
          @include facebook;
          position: relative;
          border-radius: 4px;
          a {
            color: white;
          }
          .fab.fa-facebook-square {
            @include facebk-icon;
          }
        }
        #google{
          @include google;
          @include btn-def;
          border: #979797 solid 1px;
          border-radius: 4px;
          a {
            color: black;
          }
        }
      }
    }
  }
  &__footer{
    width: 456px;
    height: 220px;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
    ul{
      li{
        display: inline-block;
        font-size: 12px;
        padding: 0;
      }
      a{
        display: block;
        color: #333;
      }
    }
    .footer-logo{
      width: 80px;
      height: 65px;
      margin: 40px auto 0;
      display: block;
    }
    p{
      margin: 8px 0 0;
      small{
        font-size: 13px;
      }
    }
  }
}