\.main-container
\.header
\.header-inner
\.header-top
\%h1
\=link_to "https://www.mercari.com/jp/" do
\%img{src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?891577966"}
\%form.header-form
\%input.input-default{type: "search", name: "keyword", value placeholder: "なにかお探しですか？"}
\%i.fas.fa-search
\.header-nav-box.clearfix
\%nav.left-content
\%ul.header-navigation
\%li
\%h2
\= link_to "/", {class: "header-list-parent"} do
\%i.fas.fa-bars
\%span
カテゴリーから探す
\%ul.header-navigation-parent-wrap
\%li.header-navigation-parent
\%h3
\= link_to "/" do
レディース
\%ul.header-navigation-parent-wrap
\%li.header-navigation-parent
\%h3
\= link_to "/" do
メンズ
\%ul.header-navigation-parent-wrap
\%li.header-navigation-parent
\%h3
\= link_to "/" do
インテリア
\%li
\%h2.
